In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objects as go
init_notebook_mode(connected=True)

In [2]:
df = pd.read_csv(r'C:\Users\xinya\PhD\UIUC Courses\IS 537\Project\archive\movies.csv')
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

In [3]:
# Drop nan values
df.dropna(inplace=True)
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
77,The Hitman's Bodyguard,(2017),"\nAction, Comedy, Crime",6.9,"\nThe world's top bodyguard gets a new client,...",\n Director:\nPatrick Hughes\n| \n Stars...,"205,979",118.0,$75.47M
85,Jurassic Park,(1993),"\nAction, Adventure, Sci-Fi",8.1,\nA pragmatic paleontologist visiting an almos...,\n Director:\nSteven Spielberg\n| \n Sta...,"897,444",127.0,$402.45M
95,Don't Breathe,(2016),"\nCrime, Horror, Thriller",7.1,"\nHoping to walk away with a massive fortune, ...",\n Director:\nFede Alvarez\n| \n Stars:\...,"237,601",88.0,$89.22M
111,The Lord of the Rings: The Fellowship of the Ring,(2001),"\nAction, Adventure, Drama",8.8,\nA meek Hobbit from the Shire and eight compa...,\n Director:\nPeter Jackson\n| \n Stars:...,"1,713,028",178.0,$315.54M
125,Escape Room,(I) (2019),"\nAction, Adventure, Horror",6.4,\nSix strangers find themselves in a maze of d...,\n Director:\nAdam Robitel\n| \n Stars:\...,"99,351",99.0,$57.01M

In [4]:
# get rid of \n
df['GENRE'] = df['GENRE'].str.replace('\n', '')
df['ONE-LINE'] = df['ONE-LINE'].str.replace('\n', '')
df['STARS'] = df['STARS'].str.replace('\n', '')
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
77,The Hitman's Bodyguard,(2017),"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes| Stars:Ryan Re...,"205,979",118.0,$75.47M
85,Jurassic Park,(1993),"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,Director:Steven Spielberg| Stars:Sam N...,"897,444",127.0,$402.45M
95,Don't Breathe,(2016),"Crime, Horror, Thriller",7.1,"Hoping to walk away with a massive fortune, a ...",Director:Fede Alvarez| Stars:Stephen L...,"237,601",88.0,$89.22M
111,The Lord of the Rings: The Fellowship of the Ring,(2001),"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,Director:Peter Jackson| Stars:Elijah W...,"1,713,028",178.0,$315.54M
125,Escape Room,(I) (2019),"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,Director:Adam Robitel| Stars:Taylor Ru...,"99,351",99.0,$57.01M

In [5]:
# Separate multiple values in a cell
df['GENRE'] = df['GENRE'].str.split(', ')
df = df.explode('GENRE')
# get rid of blank space in GENRE column
df['GENRE'] = df['GENRE'].str.strip()
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
77,The Hitman's Bodyguard,(2017),Action,6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes| Stars:Ryan Re...,"205,979",118.0,$75.47M
77,The Hitman's Bodyguard,(2017),Comedy,6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes| Stars:Ryan Re...,"205,979",118.0,$75.47M
77,The Hitman's Bodyguard,(2017),Crime,6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes| Stars:Ryan Re...,"205,979",118.0,$75.47M
85,Jurassic Park,(1993),Action,8.1,A pragmatic paleontologist visiting an almost ...,Director:Steven Spielberg| Stars:Sam N...,"897,444",127.0,$402.45M
85,Jurassic Park,(1993),Adventure,8.1,A pragmatic paleontologist visiting an almost ...,Director:Steven Spielberg| Stars:Sam N...,"897,444",127.0,$402.45M

In [6]:
# Turn str into int
df['VOTES'] = df['VOTES'].str.replace(',', '').astype(int)
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
77,The Hitman's Bodyguard,(2017),Action,6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes| Stars:Ryan Re...,205979,118.0,$75.47M
77,The Hitman's Bodyguard,(2017),Comedy,6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes| Stars:Ryan Re...,205979,118.0,$75.47M
77,The Hitman's Bodyguard,(2017),Crime,6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes| Stars:Ryan Re...,205979,118.0,$75.47M
85,Jurassic Park,(1993),Action,8.1,A pragmatic paleontologist visiting an almost ...,Director:Steven Spielberg| Stars:Sam N...,897444,127.0,$402.45M
85,Jurassic Park,(1993),Adventure,8.1,A pragmatic paleontologist visiting an almost ...,Director:Steven Spielberg| Stars:Sam N...,897444,127.0,$402.45M

In [7]:
# Turn Gross column into float
df['Gross'] = df['Gross'].str.replace('$', '').str.replace('M', '',regex=False).astype(float)
df

C:\Users\xinya\AppData\Local\Temp\ipykernel_30812\2633289510.py:2: FutureWarning:

The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
77,The Hitman's Bodyguard,(2017),Action,6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes| Stars:Ryan Re...,205979,118.0,75.47
77,The Hitman's Bodyguard,(2017),Comedy,6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes| Stars:Ryan Re...,205979,118.0,75.47
77,The Hitman's Bodyguard,(2017),Crime,6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes| Stars:Ryan Re...,205979,118.0,75.47
85,Jurassic Park,(1993),Action,8.1,A pragmatic paleontologist visiting an almost ...,Director:Steven Spielberg| Stars:Sam N...,897444,127.0,402.45
85,Jurassic Park,(1993),Adventure,8.1,A pragmatic paleontologist visiting an almost ...,Director:Steven Spielberg| Stars:Sam N...,897444,127.0,402.45
...,...,...,...,...,...,...,...,...,...
5835,Decoding Deepak,(2012),Documentary,5.5,"Deepak Chopra's son, Gotham, spends a year tra...",Director:Gotham Chopra| Stars:Deepak C...,124,83.0,0.01
6056,Theo Who Lived,(2016),Documentary,6.8,A documentary on American journalist Theo Padn...,Director:David Schisgall| Star:Theo Pa...,111,86.0,0.01
6292,Southern Justice,(2006),Action,3.1,"M.D. Selig's feature thriller, SOUTHERN JUSTIC...","Director:M.D. Selig| Stars:M.D. Selig,...",126,96.0,0.14
6292,Southern Justice,(2006),Adventure,3.1,"M.D. Selig's feature thriller, SOUTHERN JUSTIC...","Director:M.D. Selig| Stars:M.D. Selig,...",126,96.0,0.14
6292,Southern Justice,(2006),Thriller,3.1,"M.D. Selig's feature thriller, SOUTHERN JUSTIC...","Director:M.D. Selig| Stars:M.D. Selig,...",126,96.0,0.14

In [8]:
# Separate director and stars
df[['Director', 'Stars']] = df['STARS'].str.split('|', expand=True)
df['Director'] = df['Director'].str.split(':', expand=True)[1]
df['Stars'] = df['Stars'].str.split(':', expand=True)[1]
df['Stars'] = df['Stars'].str.split(', ')
df = df.explode('Stars')
df.drop('STARS', axis=1, inplace=True)
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,VOTES,RunTime,Gross,Director,Stars
77,The Hitman's Bodyguard,(2017),Action,6.9,"The world's top bodyguard gets a new client, a...",205979,118.0,75.47,Patrick Hughes,Ryan Reynolds
77,The Hitman's Bodyguard,(2017),Action,6.9,"The world's top bodyguard gets a new client, a...",205979,118.0,75.47,Patrick Hughes,Samuel L. Jackson
77,The Hitman's Bodyguard,(2017),Action,6.9,"The world's top bodyguard gets a new client, a...",205979,118.0,75.47,Patrick Hughes,Gary Oldman
77,The Hitman's Bodyguard,(2017),Action,6.9,"The world's top bodyguard gets a new client, a...",205979,118.0,75.47,Patrick Hughes,Elodie Yung
77,The Hitman's Bodyguard,(2017),Comedy,6.9,"The world's top bodyguard gets a new client, a...",205979,118.0,75.47,Patrick Hughes,Ryan Reynolds